.help-section{
    padding: 80px 120px;
    line-height: 30px;

}

.help-section p{
    color: rgb(106, 106, 106);
    /* padding-top: 20px; */
}

@media screen and (max-width: 425px) {
    .help-section{
        padding: 50px 16px;
    }
   
}